@charset "utf-8";
@import 'reset';
@import 'fonts';
@import 'settings';
@import 'animate';
@import 'slick';
@import 'gdpr';

html.html-modal-long {
	height: auto;
				
	body {
		height: auto;
	}

	#layout {
		overflow: hidden;
		height: auto;
		position: static;

		header {
			height: auto;
		}
	}
}
html.html-modal {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
body { 
	font-family: $font-main;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4;
	color: $color-text;
	text-align: center;
	width: 100%;
	height: 100%;

	@media (max-width: $adaptive-width-tablet-middle) {
		font-size: 18px;
	}

	@media (max-width: $adaptive-width-mobile) {
		font-size: 16px;
	}
}
a {
	color: $color-text;
    @extend .transition-all;

    &:hover {
        @extend .transition-all;
    }
}
h1,
.h1 {
	font-family: $font-main;
	color: $color-header;
	font-size: 45px;
	font-weight: 700;
	line-height: 0.98;
	margin-bottom: 30px;
	cursor: default;

	@media (max-width: $adaptive-width-tablet) {
		font-size: 30px;
		line-height: 1.1;
		margin-bottom: 20px;
	}

	@media (max-width: $adaptive-width-mobile) {
		font-size: 23px;
		line-height: 1.08;
		margin-bottom: 18px;
	}
}
h2,
.h2 {
	font-family: $font-main;
	color: $color-header;
	font-size: 35px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 25px;
	cursor: default;

	@media (max-width: $adaptive-width-tablet) {
		font-size: 27px;
	}

	@media (max-width: $adaptive-width-mobile) {
		font-size: 22px;
		margin-bottom: 27px;
	}
}
h3,
.h3 {
	font-family: $font-main;
	color: $color-header;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.33;
	margin-bottom: 16px;
	cursor: default;

	@media (max-width: $adaptive-width-mobile) {
		font-size: 12px;
	}
}
h4,
.h4 {
	font-family: $font-main;
	color: $color-header;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 10px;
	cursor: default;
}
h5,
.h5 {
	font-family: $font-main;
	color: $color-header;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 10px;
	cursor: default;
}
h6,
.h6 {
	font-family: $font-main;
	color: $color-header;
	font-size: 12px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 10px;
	cursor: default;
}
p {
	margin-bottom: 35px;

	@media (max-width: $adaptive-width-mobile) {
		margin-bottom: 20px;
	}
}
ol, ul {
	list-style: none;
}
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password'],
input[type='number'] {
	font-family: $font-main;
	font-size: 18px;
	line-height: 18px;
	height: 63px;
	box-sizing: border-box;
	border: 0;
	background: #FFF;
	color: #454545;
	padding: 17px 13px 11px;
	@extend .radius-sm;

	@media (max-width: $adaptive-width-mobile) {
		font-size: 16px;
		height: 45px;
	}

	&::-webkit-input-placeholder { color: darken(#A6A6A6, 20%) }
	&::-moz-placeholder { color: darken(#A6A6A6, 20%) }
	&:-moz-placeholder { color: darken(#A6A6A6, 20%) }
	&:-ms-input-placeholder { color: darken(#A6A6A6, 20%) }
}

textarea {
	font-family: $font-main;
	font-size: 18px;
	line-height: 22px;
	height: 95px;
	box-sizing: border-box;
	border: 0;
	background: #FFFFFF;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.122962);
	color: #0B0B0B;
	padding: 15px 14px 10px;
	overflow: auto;
	@extend .radius-sm;

	@media (max-width: $adaptive-width-mobile) {
		font-size: 16px;
		height: 109px;
	}

	&::-webkit-input-placeholder { color: darken(#A6A6A6, 20%) }
	&::-moz-placeholder { color: darken(#A6A6A6, 20%) }
	&:-moz-placeholder { color: darken(#A6A6A6, 20%) }
	&:-ms-input-placeholder { color: darken(#A6A6A6, 20%) }
}
table {
	border-collapse: collapse;
	border: 0;
}
th {
	text-align: left;
	font-weight: 400;
	border: 0; 
}
td {
	text-align: left;
	border: 0;
}
table.styled {
	width: 100%;
}
table.styled th {
	padding: 9px 18px;
	font-size: 18px;
	font-weight: 300;
	text-align: left;
	color: #888;

	@media (max-width: $adaptive-width-mobile) {
		font-size: 13px;
		padding: 10px 14px;
	}
}
table.styled td {
	padding: 18px 18px;
	border: 0;

	@media (max-width: $adaptive-width-mobile) {
		font-size: 14px;
		padding: 10px 14px;
	}
}
table.styled tr td:first-child {
	@extend .radius-l;
}
table.styled tr td:last-child {
	@extend .radius-r;
}
table.styled tr:nth-child(2n-1) td {
	background: #F8F8F8;
}
#layout{
  	width: 100%;
  	min-height: 100%;
    overflow-x: hidden;
    text-align: center;

    h1, .h1, h2, .h2, h3, .h3 {
    	a {
    		text-decoration: none;
    	}
    }
}
.section {
	.holder {
		width: 100%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		justify-content: center;
		z-index: 1;
	}

	button {
		background-color: #ddf2fe;
		background: linear-gradient(180deg, #FFFFFF 0%, #C2E8FD 100%);
		box-shadow: 0px 4px 36px rgba(255, 255, 255, 0.59);
		-moz-border-radius: 100px;
		-webkit-border-radius: 100px;
		-khtml-border-radius: 100px;
		border-radius: 100px;
		border: 0;
		color: $color-text-blue;
		font-family: $font-main;
		font-size: 22px;
		font-weight: 600;
		text-transform: uppercase;
		padding: 29px 42px 27px;
		cursor: pointer;
		position: relative;
		@extend .transition-all;

		@media (max-width: $adaptive-width-tablet) {
			font-size: 16px;
			padding: 17px 35px;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(180deg, #FFFFFF 0%, #C2E8FD 100%);
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			-khtml-border-radius: 100px;
			border-radius: 100px;
			z-index: 1;
			opacity: 0;
			@extend .transition-opacity;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(180deg, #FFFFFF 0%, #C2E8FD 100%);
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			-khtml-border-radius: 100px;
			border-radius: 100px;
			z-index: 1;
			opacity: 0;
			@extend .transition-opacity;
		}

		&:hover {
			&:before {
				opacity: 1;
			}
		}

		&:active {
			@extend .box-shadow-none;
			@extend .transition-all;

			&:after {
				opacity: 1;
			}
		}

		span {
			position: relative;
			z-index: 3;

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 27px;
				height: 31px;
				background: url('../../images/ico_android.svg') no-repeat;
				margin: -10px 20px 0 0;

				@media (max-width: $adaptive-width-tablet) {
					width: 16px;
					height: 19px;
					margin: -6px 8px 0 0;
					background-size: contain;
				}
			}
		}
	}
}

#intro {
	background: url('../../images/bg.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	color: #fff;
	margin-bottom: 103px;

	@media (max-width: $adaptive-width-tablet) {
		margin-bottom: 57px;
	}

	@media (max-width: $adaptive-width-mobile) {
		margin-bottom: 43px;
	}

	/*
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 178px;
		height: 182px;
		background: url('../../images/ribbon.png') no-repeat;
		background-size: contain;

		@media (max-width: $adaptive-width-tablet) {
			width: 137px;
			height: 140px;
		}

		@media (max-width: $adaptive-width-mobile) {
			width: 89px;
			height: 91px;
		}
	}
	*/

	.holder {
		padding: 100px 0;
		min-height: 755px;

		@media (max-width: $adaptive-width-tablet) {
			padding: 45px $padding-edges-tablet 65px;
			min-height: 465px;
		}

		@media (max-width: $adaptive-width-mobile) {
			padding: 59px $padding-edges-tablet-small 41px;
			min-height: 100vh;
		}
	}

	&.page {
		margin-bottom: 80px;

		@media (max-width: $adaptive-width-tablet) {
			margin-bottom: 45px;
		}

		@media (max-width: $adaptive-width-mobile) {
			margin-bottom: 25px;
		}

		.holder {
			padding: 85px 0 55px;
			min-height: 0;

			#logo {
				margin-bottom: 25px;
			}

			h1,
			.h1 {
				margin-bottom: 0;
			}
		}	
	}

	#logo {
		display: block;
		width: 182px;
		height: 38px;
		margin: 0 auto 40px;

		@media (max-width: $adaptive-width-tablet) {
			width: 132px;
			height: 28px;
			margin-bottom: 16px;

			img {
				width: 132px;
			}
		}

		@media (max-width: $adaptive-width-mobile) {
			margin-bottom: 13px;
		}
	}

	h1,
	.h1 {
		color: #fff;
		margin-bottom: 72px;

		@media (max-width: $adaptive-width-tablet) {
			margin-bottom: 38px;
		}

		@media (max-width: $adaptive-width-mobile) {
			margin-bottom: 30px;
		}
	}

	.steps {
		display: block;
		margin-bottom: 70px;

		@media (max-width: $adaptive-width-tablet) {
			margin-bottom: 43px;
		}

		@media (max-width: $adaptive-width-tablet-middle) {
			margin-bottom: 10px;
		}

		@media (max-width: $adaptive-width-mobile) {
			margin: 0;
		}

		li {
			display: inline-block;
			vertical-align: top;
			font-size: 18px;
			font-weight: 500;
			line-height: 1.33;
			position: relative;

			@media (max-width: $adaptive-width-tablet) {
				font-size: 14px;
				line-height: 1.35;
			}

			@media (max-width: $adaptive-width-tablet-middle) {
				display: block;
				font-size: 18px;
				margin: 0 auto 46px;
			}

			@media (max-width: $adaptive-width-mobile) {
				font-size: 14px;
				margin-bottom: 32px;
			}

			&:before {
				content: '';
				display: block;
				margin: 0 auto 48px;
				background-repeat: no-repeat;

				@media (max-width: $adaptive-width-tablet) {
					margin-bottom: 35px;
				}

				@media (max-width: $adaptive-width-tablet-middle) {
					margin-bottom: 16px;
				}

				@media (max-width: $adaptive-width-mobile) {
					margin-bottom: 14px;
				}
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 30px;
				left: -166px;
				width: 220px;
				height: 11px;
				background: url('../../images/steps_dots.svg') no-repeat;

				@media (max-width: $adaptive-width-tablet) {
					top: 24px;
					left: -120px;
					width: 145px;
					height: 8px;
					background-size: contain;
				}

				@media (max-width: $adaptive-width-tablet-middle) {
					display: none;
				}
			}

			&:first-child {
				&:after {
					display: none;
				}
			}

			&.step1 {
				width: 255px;

				@media (max-width: $adaptive-width-tablet) {
					width: 173px;
				}

				@media (max-width: $adaptive-width-tablet-middle) {
					width: 75%;
				}

				@media (max-width: $adaptive-width-mobile) {
					width: auto;
				}

				&:before {
					background-image: url('../../images/ico_step1.svg');
					width: 70px;
					height: 70px;

					@media (max-width: $adaptive-width-tablet) {
						width: 56px;
						height: 56px;
						background-size: contain;
					}

					@media (max-width: $adaptive-width-tablet-middle) {
						width: 40px;
						height: 70px;
						padding-left: 25px;
					}

					@media (max-width: $adaptive-width-mobile) {
						width: 26px;
						height: 56px;
					}
				}
			}

			&.step2 {
				width: 246px;
				margin-left: 110px;

				@media (max-width: $adaptive-width-tablet) {
					width: 172px;
					margin-left: 78px;
				}

				@media (max-width: $adaptive-width-tablet-middle) {
					width: 75%;
					margin-left: auto;
				}

				@media (max-width: $adaptive-width-mobile) {
					width: auto;
				}

				&:before {
					background-image: url('../../images/ico_step2.svg');
					width: 65px;
					height: 70px;

					@media (max-width: $adaptive-width-tablet) {
						width: 44px;
						height: 48px;
						background-size: contain;
					}

					@media (max-width: $adaptive-width-tablet-middle) {
						width: 65px;
						height: 70px;
					}

					@media (max-width: $adaptive-width-mobile) {
						width: 44px;
						height: 48px;
					}
				}
			}

			&.step3 {
				width: 268px;
				margin-left: 110px;

				@media (max-width: $adaptive-width-tablet) {
					width: 184px;
					margin-left: 84px;
				}

				@media (max-width: $adaptive-width-tablet-middle) {
					width: 75%;
					margin-left: auto;
				}

				@media (max-width: $adaptive-width-mobile) {
					width: auto;
				}

				&:before {
					background-image: url('../../images/ico_step3.svg');
					width: 74px;
					height: 77px;
					margin-top: -7px;

					@media (max-width: $adaptive-width-tablet) {
						width: 49px;
						height: 51px;
						margin-top: -3px;
						background-size: contain;
					}

					@media (max-width: $adaptive-width-tablet-middle) {
						width: 74px;
						height: 77px;
						margin-top: 0;
					}

					@media (max-width: $adaptive-width-mobile) {
						width: 49px;
						height: 51px;
					}
				}
			}
		}
	}

	#mn-main {
		position: absolute;
		top: 35px;
		left: 2.78%;
		font-size: 16px;
		color: #fff;
		font-size: 0;
		white-space: nowrap;

		@media (max-width: $adaptive-width-tablet) {
			top: 19px;
			font-size: 14px;
		}

		@media (max-width: $adaptive-width-mobile) {
			top: 16px;
			left: 5%;
			font-size: 13px;
		}

		a {
			color: #fff;
			text-decoration: none;
			opacity: 0.6;
			@extend .transition-opacity;

			&:hover {
				opacity: 1;
				@extend .transition-opacity;
			}
		}

		li {
			display: inline;
			font-size: 16px;
			margin-left: 12px;
			cursor: default;

			@media (max-width: $adaptive-width-tablet) {
				font-size: 14px;
			}

			@media (max-width: $adaptive-width-mobile) {
				font-size: 13px;
				margin-left: 8px;
			}

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 1px;
				height: 26px;
				background-color: #fff;
				margin: -6px 12px 0 0;
				opacity: 0.1;

				@media (max-width: $adaptive-width-tablet) {
					height: 21px;
					margin-top: -4px;
				}

				@media (max-width: $adaptive-width-mobile) {
					height: 18px;
					margin-right: 8px;
				}
			}

			&:first-child {
				margin-left: 0;

				&:before {
					display: none;
				}
			}

			&.curr {
				opacity: 1;
				font-weight: 500;
			}
		}
	}

	#mn-languages {
		position: absolute;
		top: 35px;
		right: 14.17%;
		font-size: 14px;
		color: #fff;
		font-size: 0;
		white-space: nowrap;

		@media (max-width: $adaptive-width-tablet) {
			top: 19px;
			font-size: 14px;
		}

		@media (max-width: $adaptive-width-mobile) {
			top: 16px;
			font-size: 13px;
		}

		a {
			color: #fff;
			text-decoration: none;
			opacity: 0.6;
			@extend .transition-opacity;

			&:hover {
				opacity: 1;
				@extend .transition-opacity;
			}
		}

		li {
			display: inline;
			font-size: 14px;
			margin-left: 12px;
			cursor: default;

			@media (max-width: $adaptive-width-tablet) {
				font-size: 14px;
			}

			@media (max-width: $adaptive-width-mobile) {
				font-size: 13px;
				margin-left: 8px;
			}

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 1px;
				height: 26px;
				background-color: #fff;
				margin: -6px 12px 0 0;
				opacity: 0.1;

				@media (max-width: $adaptive-width-tablet) {
					height: 21px;
					margin-top: -4px;
				}

				@media (max-width: $adaptive-width-mobile) {
					height: 18px;
					margin-right: 8px;
				}
			}

			&:first-child {
				margin-left: 0;

				&:before {
					display: none;
				}
			}

			&.curr {
				opacity: 1;
				font-weight: 500;
			}
		}
	}

	.promo-text {
		font-size: 15px;
		font-weight: 600;
		text-align: center;
		padding-top: 58px;
		cursor: default;
		margin-bottom: -40px;

		@media (max-width: $adaptive-width-mobile) {
			font-size: 14px;
			line-height: 1.34;
			padding-top: 30px;
			margin-bottom: -115px;
		}

		& > span {
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 18px;
				height: 20px;
				background: url('../../images/ico_gift.svg') no-repeat;
				margin: -8px 12px 0 0;

				@media (max-width: $adaptive-width-mobile) {
					display: block;
					margin: 0 auto 11px;
				}
			}
		}
	}
}
#what-is {
	max-width: 898px;
	margin: 0 auto 80px;

	@media (max-width: $adaptive-width-mobile) {
		margin-bottom: 41px;
	}

	h1,
	.h1 {
		margin-bottom: 38px;

		@media (max-width: $adaptive-width-mobile) {
			margin-bottom: 18px;
		}
	}

	p {
		font-size: 22px;
		line-height: 1.42;

		@media (max-width: $adaptive-width-mobile) {
			font-size: 13px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
#save-up {
	text-align: left;
	min-height: 351px;
	margin-bottom: 86px;

	@media (max-width: $adaptive-width-tablet) {
		min-height: 269px;
		margin-bottom: 42px;
	}

	@media (max-width: $adaptive-width-tablet-middle) {
		text-align: center;
	}

	.holder {
		position: relative;

		.illustration {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			@extend .padding-left;
			width: 339px;
			height: 351px;
			background: url('../../images/ico_save.svg') no-repeat;

			@media (max-width: $adaptive-width-tablet) {
				width: 260px;
				height: 269px;
				left: 30%;
				margin-left: -130px;
				background-size: contain;
			}

			@media (max-width: $adaptive-width-tablet-middle) {
				position: static;
				top: auto;
				left: auto;
				margin: 0 auto 34px;
			}

			@media (max-width: $adaptive-width-mobile) {
				width: 241px;
				height: 250px;
			}
		}

		h1,
		.h1 {
			padding-top: 110px;
			margin: 0 0 20px 420px;

			@media (max-width: $adaptive-width-tablet) {
				padding: 69px 0 0 30%;
				margin: 0 0 12px 139px;
			}

			@media (max-width: $adaptive-width-tablet-middle) {
				padding: 0;
				margin: 0 0 19px; 
			}
		}

		p {
			font-weight: 300;
			margin: 0 0 0 420px;

			@media (max-width: $adaptive-width-tablet) {
				padding-left: 30%;
				margin-left: 139px;
				font-size: 16px;
			}

			@media (max-width: $adaptive-width-tablet-middle) {
				padding: 0;
				margin: 0;
			}

			@media (max-width: $adaptive-width-mobile) {
				font-size: 13px;
			}
		}
	}
}
#steps {
	background-color: #f8fcfe;
	background: linear-gradient(155.97deg, #E6F5FD 0%, #FFFFFF 93.41%);
	padding: 125px 0 142px;
	text-align: left;
	margin-bottom: 77px;

	@media (max-width: $adaptive-width-tablet) {
		padding: 78px 0 106px;
	}

	@media (max-width: $adaptive-width-tablet-small) {
		text-align: center;
		padding-bottom: 30px;
	}

	@media (max-width: $adaptive-width-mobile) {
		padding: 33px 0 25px;
	}

	.holder {
		position: relative;
	}

	h1,
	.h1 {
		max-width: 520px;
		margin-bottom: 35px;

		@media (max-width: $adaptive-width-tablet) {
			max-width: 334px;
			margin-bottom: 20px;
		}

		@media (max-width: $adaptive-width-tablet-small) {
			max-width: none;
		}
	}

	.text {
		max-width: 520px;
		margin-bottom: 57px;

		@media (max-width: $adaptive-width-tablet) {
			max-width: 370px;
			margin-bottom: 32px;
		}

		@media (max-width: $adaptive-width-tablet-small) {
			max-width: none;
			position: relative;
			height: 51px;
			margin-bottom: 0;
		}

		ul {
			li {
				display: block;
				position: relative;
				padding: 12px 0 10px 86px;
				min-height: 55px;
				margin-bottom: 28px;
				color: #40566B;
				font-size: 24px;
				opacity: 0.4;
				cursor: pointer;
				@extend .transition-opacity;

				@media (max-width: $adaptive-width-tablet) {
					padding: 8px 0 8px 57px;
					min-height: 40px;
					margin-bottom: 23px;
					font-size: 18px;
				}

				@media (max-width: $adaptive-width-tablet-small) {
					padding: 0;
					margin: 0;
					min-height: 0;
					display: block;
					opacity: 0;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
				}

				@media (max-width: $adaptive-width-mobile) {
					font-size: 16px;
				}

				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 55px;
					height: 55px;
					background-color: #e4f5fe;
					background: linear-gradient(180deg, #FFFFFF 0%, #C2E8FD 100%);
					-moz-border-radius: 100px;
					-webkit-border-radius: 100px;
					-khtml-border-radius: 100px;
					border-radius: 100px;

					@media (max-width: $adaptive-width-tablet) {
						width: 40px;
						height: 40px;
					}

					@media (max-width: $adaptive-width-tablet-small) {
						display: none;
					}
				}

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 17px;
					left: 14px;
					width: 28px;
					height: 20px;
					background: url('../../images/ico_v.svg') no-repeat;

					@media (max-width: $adaptive-width-tablet) {
						width: 20px;
						height: 14px;
						top: 12px;
						left: 10px;
						background-size: contain;
					}

					@media (max-width: $adaptive-width-tablet-small) {
						display: none;
					}
				}

				&.active {
					opacity: 1;
					@extend .transition-opacity;

					@media (max-width: $adaptive-width-tablet-small) {
						opacity: 0;
					}
				}

				&.curr {
					@extend .transition-opacity;

					@media (max-width: $adaptive-width-tablet-small) {
						opacity: 1;						
					}
				}
			}
		}
	}

	.btn {
		button {
			background-color: #51bef5;
			background: linear-gradient(183.47deg, #50D3FB 10.75%, #528EE7 96.71%);
			box-shadow: 0px 4px 30px rgba(26, 127, 168, 0.35);
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			-khtml-border-radius: 100px;
			border-radius: 100px;
			font-family: $font-main;
			font-size: 20px;
			font-weight: 600;
			text-transform: uppercase;
			padding: 24px 42px;
			border: 0;
			color: #fff;
			cursor: pointer;
			position: relative;
			@extend .transition-all;

			@media (max-width: $adaptive-width-tablet) {
				font-size: 16px;
				padding: 16px 33px;
			}
			
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(0deg, rgba(4, 27, 56, 0.18), rgba(4, 27, 56, 0.18)), linear-gradient(183.47deg, #50D3FB 10.75%, #528EE7 96.71%);
				-moz-border-radius: 100px;
				-webkit-border-radius: 100px;
				-khtml-border-radius: 100px;
				border-radius: 100px;
				z-index: 1;
				opacity: 0;
				@extend .transition-opacity;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(0deg, rgba(4, 27, 56, 0.18), rgba(4, 27, 56, 0.18)), linear-gradient(183.47deg, #50D3FB 10.75%, #528EE7 96.71%);
				-moz-border-radius: 100px;
				-webkit-border-radius: 100px;
				-khtml-border-radius: 100px;
				border-radius: 100px;
				z-index: 2;
				opacity: 0;
				@extend .transition-opacity;
			}

			&:hover {
				&:before {
					opacity: 1;
				}
			}

			&:active {
				@extend .box-shadow-none;
				@extend .transition-all;

				&:after {
					opacity: 1;
				}
			}

			span {
				position: relative;
				z-index: 3;

				&:before {
					content: '';
					display: inline-block;
					vertical-align: middle;
					width: 27px;
					height: 31px;
					background: url('../../images/ico_android_w.svg') no-repeat;
					margin: -10px 20px 0 0;

					@media (max-width: $adaptive-width-tablet) {
						width: 16px;
						height: 19px;
						margin: -6px 8px 0 0;
						background-size: contain;
					}
				}
			}
		}
	}

	#phone {
		position: absolute;
		top: -113px;
		right: 30px;
		width: 376px;
		height: 672px;
		padding: 86px 65px;
		background: url('../../images/phone.png') no-repeat center;
		background-size: contain;

		@media (max-width: $adaptive-width-tablet) {
			top: -90px;
			right: 50%;
			margin-right: -272px;
			width: 272px;
			height: 485px;
			padding: 62px 46px 58px 47px;
		}

		@media (max-width: $adaptive-width-tablet-middle) {
			right: 25%;
			margin-right: -146px;
		} 

		@media (max-width: $adaptive-width-tablet-small) {
			position: relative;
			top: auto;
			right: auto;
			margin: -20px auto 0;
		}

		ul {
			display: block;
			position: relative;		

			li {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;

				&.active {
					opacity: 1;
				}

				img {
					-moz-border-radius: 20px;
					-webkit-border-radius: 20px;
					-khtml-border-radius: 20px;
					border-radius: 20px;

					@media (max-width: $adaptive-width-tablet) {
						-moz-border-radius: 10px;
						-webkit-border-radius: 10px;
						-khtml-border-radius: 10px;
						border-radius: 10px;
						width: 179px;
					}
				}
			}
		}
	}
}
#conclusion {
	background: url('../../images/bg2.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	color: #fff;
	margin-bottom: 57px;

	.holder {
		padding: 96px $padding-edges 92px;
		min-height: 587px;

		@media (max-width: $adaptive-width-tablet) {
			padding: 65px $padding-edges-tablet 72px;
			min-height: 379px;
		}

		@media (max-width: $adaptive-width-mobile) {
			padding: 54px $padding-edges-tablet-small 62px;
		}
	}

	h1,
	.h1 {
		color: #fff;
	}

	h2,
	.h2 {
		font-weight: 500;
		margin-bottom: 59px;
		color: #fff;

		@media (max-width: $adaptive-width-tablet) {
			margin-bottom: 43px;
		}

		@media (max-width: $adaptive-width-mobile) {
			margin-bottom: 29px;
		}
	}

	.btn {
		margin-bottom: 57px;

		@media (max-width: $adaptive-width-tablet) {
			margin-bottom: 26px;
		}

		@media (max-width: $adaptive-width-mobile) {
			margin-bottom: 25px;
		}

		button {
			padding-left: 44px;
			padding-right: 44px;

			@media (max-width: $adaptive-width-tablet) {
				padding-left: 41px;
				padding-right: 38px;
			}

			span {
				&:before {
					content: '';
					display: inline-block;
					vertical-align: middle;
					width: 27px;
					height: 31px;
					background: url('../../images/ico_android.svg') no-repeat;
					margin: -10px 23px 0 0;

					@media (max-width: $adaptive-width-tablet) {
						width: 16px;
						height: 19px;
						margin: -6px 8px 0 0;
						background-size: contain;
					}
				}
			}
		}
	}

	.terms {
		font-size: 18px;
		line-height: 1;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		color: #fff;
		align-self: center;
		margin-left: 34px;
		position: relative;

		@media (max-width: $adaptive-width-tablet) {
			font-size: 15px;
			margin-left: 27px;
		}

		@media (max-width: $adaptive-width-mobile) {
			font-size: 13px;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: -4px;
			left: -34px;
			width: 23px;
			height: 23px;
			background: url('../../images/ico_terms.svg') no-repeat;

			@media (max-width: $adaptive-width-tablet) {
				top: -2px;
				left: -27px;
				width: 17px;
				height: 17px;
				background-size: contain;
			}

			@media (max-width: $adaptive-width-mobile) {
				top: -4px;
			}
		}

		&:hover {
			border-bottom-color: #fff;
		}
	}
}
footer {
	height: 79px;
	font-size: 16px;
	border-top: 1px solid #D6D9DC;

	@media (max-width: $adaptive-width-tablet) {
		height: 67px;
		font-size: 14px;
	}

	@media (max-width: $adaptive-width-tablet-middle) {
		height: auto;
		text-align: center;
		padding: 31px 0 22px;
	}

	@media (max-width: $adaptive-width-mobile) {
		font-size: 12px;
	}

	&.no-border {
		border-top: 0;
	}

	.holder {
		position: relative;
	}

	#logo-footer {
		position: absolute;
		top: 25px;
		@extend .padding-left;

		@media (max-width: $adaptive-width-tablet) {
			top: 21px;
		}

		@media (max-width: $adaptive-width-tablet-middle) {
			position: static;
			top: auto;
			left: auto;
			display: block;
			margin: 0 auto 14px;
		}
	}

	#copyright {
		position: absolute;
		top: 25px;
		@extend .padding-left;
		font-size: 14px;
		line-height: 1.4;
		text-align: left;
		margin-left: 66px;

		@media (max-width: $adaptive-width-tablet) {
			top: 25px;
			margin-left: 62px;
		}

		@media (max-width: $adaptive-width-tablet-middle) {
			position: static;
			top: auto;
			left: auto;
			text-align: center;
			margin: 0 0 19px;
		}

		&.single {
			top: 32px;
			font-size: 16px;

			@media (max-width: $adaptive-width-tablet) {
				top: 25px;
				margin-left: 62px;
			}
		}
	}

	#email {
		position: absolute;
		top: 44px;
		@extend .padding-left;
		font-size: 14px;
		margin-left: 66px;
		color: #3D8EE0;
		display: block;
		text-decoration: none;

		@media (max-width: $adaptive-width-tablet-middle) {
			position: static;
			top: auto;
			left: auto;
			margin: -10px 0 19px;
		}
	}

	#mn-footer {
		position: absolute;
		top: 33px;
		@extend .padding-right;
		display: block;
		font-size: 0;

		@media (max-width: $adaptive-width-tablet) {
			top: 25px;
		}

		@media (max-width: $adaptive-width-tablet-middle) {
			position: static;
			top: auto;
			right: auto;
		}

		li {
			display: inline;
			vertical-align: middle;
			color: #9EAAB4;
			font-size: 16px;
			margin-left: 15px;

			@media (max-width: $adaptive-width-tablet) {
				font-size: 14px;
				margin-left: 11px;
			}

			@media (max-width: $adaptive-width-mobile) {
				font-size: 12px;
			}

			@media (max-width: $adaptive-width-mobile) {
				margin-left: 8px;
			}

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 22px;
				width: 1px;
				background-color: #D6D9DC;
				margin: -8px 15px 0 0;

				@media (max-width: $adaptive-width-tablet) {
					height: 18px;
					margin: -6px 11px 0 0;
				}

				@media (max-width: $adaptive-width-mobile) {
					height: 16px;
					margin: -6px 8px 0 0;
				}
			}

			&:first-child {
				&:before {
					display: none;
				}
			}

			a {
				color: #9EAAB4;
				text-decoration: none;

				&:hover {
					color: #519CEB;
				}
			}

			&.active {
				a {
					color: #3E4953;
					cursor: default;
				}
			}
		}
	}
}
#help-scheme {
	margin-bottom: 85px;

	@media (max-width: $adaptive-width-tablet-small) {
		margin-bottom: 60px;
	}

	@media (max-width: $adaptive-width-mobile) {
		margin-bottom: 35px;
	}

	ul {
		display: block;

		& > li {
			display: block;
			position: relative;
			text-align: left;
			font-size: 18px;
			font-weight: 300;
			min-height: 113px;
			padding: 23px 0 0 153px;
			margin-bottom: 38px;

			@media (max-width: $adaptive-width-tablet-small) {
				font-size: 16px;
				min-height: 100px;
				padding: 18px 0 0 130px;
			}

			@media (max-width: $adaptive-width-mobile) {
				font-size: 14px;
				min-height: 70px;
				padding: 10px 0 0 90px;
				margin-bottom: 22px;
			}

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 113px;
				height: 113px;
				background-repeat: no-repeat;
				background-size: contain;

				@media (max-width: $adaptive-width-tablet-small) {
					width: 100px;
					height: 100px;
				}

				@media (max-width: $adaptive-width-mobile) {
					width: 70px;
					height: 70px;
				}
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: -35px;
				left: 55px;
				width: 3px;
				height: 31px;
				background-image: url('../../images/line1.svg');
				background-repeat: no-repeat;
				background-size: contain;

				@media (max-width: $adaptive-width-tablet-small) {
					width: 3px;
					height: 26px;
					left: 50px;
				}

				@media (max-width: $adaptive-width-mobile) {
					display: none;
				}
			}

			&.step1 {
				&:before {
					background-image: url('../../images/ico_help_step1.svg');
				}
				&:after {
					display: none;
				}
			}

			&.step2 {
				&:before {
					background-image: url('../../images/ico_help_step2.svg');
				}
			}

			&.step3 {
				&:before {
					background-image: url('../../images/ico_help_step3.svg');
				}
				&:after {
					height: 33px;
					background-image: url('../../images/line2.svg');
				}
			}

			&.step4 {
				&:before {
					background-image: url('../../images/ico_help_step4.svg');
				}
			}

			&.step5 {
				&:before {
					background-image: url('../../images/ico_help_step5.svg');
				}
				&:after {
					height: 33px;
					background-image: url('../../images/line2.svg');
				}
			}

			&.step6 {
				&:before {
					background-image: url('../../images/ico_help_step6.svg');
				}
			}

			h2,
			.h2 {
				font-size: 23px;
				font-weight: 600;
				margin-bottom: 10px;

				@media (max-width: $adaptive-width-tablet-small) {
					font-size: 21px;
				}

				@media (max-width: $adaptive-width-mobile) {
					font-size: 18px;
					margin-bottom: 6px;
				}
			}

			p {
				margin-bottom: 0;
			}
		}
	}
}
#how-much-earn {
	text-align: left;
	margin-bottom: 74px;

	@media (max-width: $adaptive-width-mobile) {
		margin-bottom: 41px;
	}

	h1,
	.h1 {
		margin-bottom: 36px;

		@media (max-width: $adaptive-width-mobile) {
			margin-bottom: 18px;
		}
	}

	.text {
		font-size: 22px;
		font-weight: 500;
		line-height: 1.39;
		max-width: 880px;

		@media (max-width: $adaptive-width-mobile) {
			font-size: 16px;
		}

		& > p {
			margin-bottom: 25px;

			@media (max-width: $adaptive-width-mobile) {
				margin-bottom: 16px;
			}
		}
	}

	.list {
		font-size: 18px;
		line-height: 1.53;
		padding-top: 15px;
		max-width: 880px;

		@media (max-width: $adaptive-width-mobile) {
			font-size: 14px;
			padding-top: 8px;
		}

		& > li {
			position: relative;
			padding-left: 123px;
			margin-bottom: 25px;

			@media (max-width: $adaptive-width-mobile) {
				padding-left: 0;
				margin-bottom: 18px;
			}

			& > .label {
				position: absolute;
				top: 0;
				left: 0;
				width: 103px;
				height: 31px;
				padding: 5px 10px;
				font-size: 15px;
				font-weight: 500;
				color: #fff;
				cursor: default;
				text-transform: uppercase;
				text-align: center;
				background: linear-gradient(183.78deg, #50D3FB 10.75%, #528EE7 96.71%);
				border-radius: 100px;

				@media (max-width: $adaptive-width-mobile) {
					position: static;
					top: auto;
					left: auto;
					margin-bottom: 10px;
				}
			}

			& > p {
				margin-bottom: 35px;

				@media (max-width: $adaptive-width-mobile) {
					margin-bottom: 18px;
				}
			}
		}
	}
}
#features {
	background-color: #f8fcfe;
	background: linear-gradient(155.97deg, #E6F5FD 0%, #FFFFFF 93.41%);
	text-align: left;
	padding: 84px 0 52px;

	@media (max-width: $adaptive-width-mobile) {
		padding: 40px 0 25px;
	}

	h1,
	.h1 {
		margin-bottom: 38px;

		@media (max-width: $adaptive-width-mobile) {
			margin-bottom: 24px;
		}
	}

	ul {
		display: block;

		& > li {
			display: inline-block;
			vertical-align: top;
			width: 40%;
			margin: 0 9% 37px 0;

			@media (max-width: $adaptive-width-mobile) {
				display: block;
				width: auto;
				margin: 0 0 35px;
			}

			h3,
			.h3 {
				font-size: 24px;
				font-weight: 500;
				color: #3D8EE0;
				margin-bottom: 14px;

				@media (max-width: $adaptive-width-mobile) {
					font-size: 18px;
					margin-bottom: 8px;
				}
			}

			p {
				line-height: 1.39;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
#faq {
	margin-bottom: 59px;
	text-align: left;

	@media (max-width: $adaptive-width-mobile) {
		margin-bottom: 44px;
	}

	h1,
	.h1 {
		margin-bottom: 48px;

		@media (max-width: $adaptive-width-mobile) {
			margin-bottom: 18px;
		}
	}

	ul {
		display: block;
		margin-bottom: 46px;

		@media (max-width: $adaptive-width-mobile) {
			margin-bottom: 24px;
		}

		& > li {
			display: block;
			position: relative;
			font-size: 18px;
			line-height: 1.39;
			padding: 3px 0 0 61px;
			margin-bottom: 22px;

			@media (max-width: $adaptive-width-mobile) {
				font-size: 14px;
				line-height: 1.42;
				padding-left: 30px;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 34px;
				height: 34px;
				background: url('../../images/ico_question.svg') no-repeat;
				background-size: contain;

				@media (max-width: $adaptive-width-mobile) {
					width: 20px;
					height: 20px;
				}
			}

			h3,
			.h3 {
				font-size: 22px;
				font-weight: 600;
				line-height: 1.39;
				margin-bottom: 5px;

				@media (max-width: $adaptive-width-mobile) {
					font-size: 14px;
				}
			}
		}
	}

	.text {
		font-size: 16px;

		@media (max-width: $adaptive-width-mobile) {
			font-size: 12px;
		}
	}
}
#contact-us {
	text-align: left;
	background: linear-gradient(162.84deg, #E6F5FD 0%, #FFFFFF 93.41%);
	padding: 56px 0 60px;

	@media (max-width: $adaptive-width-mobile) {
		padding-bottom: 30px;
	}

	& > .holder {
		position: relative;
		padding-top: 77px;
		padding-left: 270px;
		min-height: 440px;
		margin-top: -40px;
		margin-bottom: -10px;

		@media (max-width: $adaptive-width-tablet) {
			padding-top: 0;
			padding-left: $padding-edges-tablet;
			margin-top: 0;
			min-height: 0;
			margin-bottom: 0;
		}

		@media (max-width: $adaptive-width-tablet-small) {
			padding-left: $padding-edges-tablet-small;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: -30px;
			width: 249px;
			height: 444px;
			background: url('../../images/phone.png') no-repeat center;
			background-size: contain;

			@media (max-width: $adaptive-width-tablet) {
				display: none;
			}
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 166px;
			left: 17px;
			width: 157px;
			height: 104px;
			background: url('../../images/feel_free.png') no-repeat;
			background-size: contain;
			z-index: 1;

			@media (max-width: $adaptive-width-tablet) {
				display: none;
			}
		}
	}

	h1,
	.h1 {
		margin-bottom: 25px;

		@media (max-width: $adaptive-width-mobile) {
			margin-bottom: 18px;
		}
	}

	.text {
		font-size: 22px;
		font-weight: 500;
		line-height: 1.23;

		@media (max-width: $adaptive-width-mobile) {
			font-size: 16px;
			line-height: 1.31;
		}

		p {
			margin-bottom: 35px;

			@media (max-width: $adaptive-width-mobile) {
				margin-bottom: 20px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		a {
			color: #528EE7;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}

#blog {
	margin-bottom: 76px;

	@media (max-width: $adaptive-width-tablet-small) {
		margin-bottom: 60px;
	}

	@media (max-width: $adaptive-width-mobile) {
		margin-bottom: 35px;
	}

	ul {
		display: block;

		& > li {
			display: block;
			text-align: left;
			padding-top: 28px;
			border-top: 1px solid #F0F0F0;
			margin-bottom: 28px;

			@media (max-width: $adaptive-width-mobile) {
				padding-top: 19px;
				margin-bottom: 19px;
			}

			&:after {
				content: '';
				@extend .clear-l;

				@media (max-width: $adaptive-width-tablet-small) {
					display: none;
				}
			}

			.photo {
				display: block;
				float: left;
				width: 251px;
				height: 154px;
				text-align: center;
				overflow: hidden;
				border-radius: 5px;

				@media (max-width: $adaptive-width-tablet-small) {
					display: none;
				}

				&:hover {
					opacity: 0.9;
				}

				& > img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 5px;
				}
			}

			.info {
				margin-left: 287px;

				@media (max-width: $adaptive-width-tablet-small) {
					margin-left: 0;
				}
			}

			.date {
				font-size: 14px;
				font-weight: 300;
				color: #808080;
				margin-bottom: 11px;

				@media (max-width: $adaptive-width-mobile) {
					font-size: 13px;
					margin-bottom: 6px;
				}
			}

			h2,
			.h2 {
				font-size: 27px;
				line-height: 0.97;
				max-width: 486px;
				margin-bottom: 19px;

				@media (max-width: $adaptive-width-mobile) {
					font-size: 18px;
					margin-bottom: 13px;
				}
			}

			p {
				font-weight: 300;
				line-height: 1.33;
				max-width: 560px;
				margin-bottom: 0;

				@media (max-width: $adaptive-width-mobile) {
					font-size: 13px;
					line-height: 1.36;
				}

				& > a {
					text-decoration: none;
				}
			}

			&:first-child {
				border-top: 0;
				padding-top: 0;
			}

			&.full-width {
				position: relative;
				height: 326px;
				color: #fff;

				@media (max-width: $adaptive-width-tablet) {
					height: 280px;
				}

				@media (max-width: $adaptive-width-mobile) {
					height: 245px;
					margin-bottom: 6px;
				}

				& + li {
					border-top: 0;
				}

				.photo {
					position: absolute;
					top: 0;
					left: 0;
					clear: none;
					width: 100%;
					height: 326px;
					z-index: 0;

					@media (max-width: $adaptive-width-tablet) {
						height: 280px;
					}

					@media (max-width: $adaptive-width-tablet-small) {
						display: block;
					}

					@media (max-width: $adaptive-width-mobile) {
						height: 245px;
					}
				}

				.info {
					position: absolute;
					bottom: 0;
					left: 0;
					padding: 43px 42px;
					z-index: 1;
					margin-left: 0;

					@media (max-width: $adaptive-width-mobile) {
						padding: 26px 13px;
					}
				}

				.date {
					color: #fff;
				}

				h2,
				.h2 {
					color: #fff;

					& > a {
						color: #fff;
					}
				}

				p {
					& > a {
						color: #fff;
					}
				}
			}
		}
	}
}

#bread-crumbs {
	text-align: left;
	margin: -50px 0 50px;

	& > ul {
		display: block;
		font-size: 0;

		& > li {
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			margin-left: 9px;

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 6px;
				height: 11px;
				background: url('../../images/bc_arr.svg') no-repeat;
				margin: -6px 9px 0 0;
			}

			&:first-child {
				margin-left: 0;

				&:before {
					display: none;
				}
			}

			a {
				text-decoration: none;

				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
}

#blog-statue {
	text-align: left;
	margin-bottom: 76px;

	@media (max-width: $adaptive-width-tablet-small) {
		margin-bottom: 60px;
	}

	@media (max-width: $adaptive-width-mobile) {
		margin-bottom: 35px;
	}

	p {
		margin-bottom: 41px;

		&.bold {
			font-size: 21px;
			line-height: 1.37;

			@media (max-width: $adaptive-width-tablet-small) {
				font-size: 17px;
				line-height: 1.3;
			}
		}
	}

	h3,
	.h3 {
		font-size: 20px;
		font-weight: 600;

		@media (max-width: $adaptive-width-tablet-small) {
			font-size: 17px;
		}
	}

	hr {
		display: block;
		height: 1px;
		border: 0;
		background-color: #F0F0F0;
		margin-bottom: 38px;

		@media (max-width: $adaptive-width-mobile) {
			margin-bottom: 25px;
		}
	}

	ol {
		display: block;
		list-style-type: decimal;

		& > li {
			display: block;
		}

		&.services-list {
			counter-reset: counter;
			list-style-type: none;

			& > li {
				padding-top: 29px;
				border-top: 1px solid #F0F0F0;
				margin-bottom: 29px;

				@media (max-width: $adaptive-width-mobile) {
					padding-top: 20px;
					margin-bottom: 20px;
					font-size: 14px;
				}

				&:before {
					counter-increment: counter;
  					content: counter(counter) '.';
  					display: inline-block;
  					font-size: 22px;
  					font-weight: 500;
  					line-height: 1.36;

  					@media (max-width: $adaptive-width-mobile) {
  						font-size: 14px;
  					}
				}

				&:first-child {
					padding-top: 0;
					border-top: 0;
				}

				&:nth-child(-n+9):before {
					content: '0' counter(counter) '.';
				}

				h3,
				.h3 {
					display: inline-block;
					font-size: 22px;
					font-weight: 500;
					line-height: 1.36;
					margin-bottom: 26px;

					@media (max-width: $adaptive-width-mobile) {
						font-size: 14px;
						margin-bottom: 17px;
					}

					& > a {
						color: #528EE7;

						&:hover {
							opacity: 0.8;
						}
					}
				}

				p {
					&:last-child {
						margin-bottom: 0;
					}

					& + img {
						margin-top: -25px;
					}

					& > a {
						text-decoration: none;
						color: #528EE7;

						&:hover {
							opacity: 0.8;
						}
					}
				}

				img {
					max-width: 100%;
					margin-bottom: 25px;

					@media (max-width: $adaptive-width-mobile) {
						margin-bottom: 19px;
					}
				}
			}
		}
	}
}
.ss {
	padding-top: 10px;

	@media (max-width: $adaptive-width-tablet) {
		padding: 0 $padding-edges-tablet; 
	}

	@media (max-width: $adaptive-width-tablet-small) {
		padding: 0 $padding-edges-tablet-small; 
	}

	ul {
		display: block;
		font-size: 0;
		padding-bottom: 8px;

		& > li {
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
			width: 138px;
			height: 49px;
			border-radius: 50px;
			color: #fff;
			font-size: 18px;
			text-align: center;
			padding-top: 15px;
			margin-left: 22px;
			@extend .transition-all;

			@media (max-width: $adaptive-width-mobile) {
				display: block;
				width: 100%;
				margin: 8px 0 0;
			}

			&:first-child {
				margin-left: 0;

				@media (max-width: $adaptive-width-mobile) {
					margin-top: 0;
				}
			}

			img {
				margin: -8px 7px 0 0;
			}

			&.fb {
				background-color: #4866AA;

				&:hover {
					background-color: darken(#4866AA, 5%);
					@extend .transition-all;
				}

				img {
					vertical-align: bottom;
					margin-right: 10px;
				}
			}

			&.tw {
				background-color: #1DA1F2;

				&:hover {
					background-color: darken(#1DA1F2, 5%);
					@extend .transition-all;
				}

				img {
					vertical-align: middle;
				}
			}
		}
	}
}
.hidden {
	display: none;
}